<html>
<body>
亲爱的$!currentUser.user.email，你好！

<ul>
    #if(!$currentUser)
        <li><a href="/login">Log in</a></li>
    #end

#if($currentUser)
<li>
    <form action="/logout" method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <button type="submit">Log out</button>
    </form>
</li>
#end


#if($currentUser && $currentUser.role == "ADMIN")
    <li><a href="/user/${currentUser.id}">View myself</a></li>
    <li><a href="/user/create">Create a new user</a></li>
    <li><a href="/users">View all users</a></li>
#end

</ul>
</body>
</html>